.formContainer {
  margin: 0 auto;
  max-width: 600px;
}
#signupForm {
  display: grid;
  row-gap: 15px;
  grid-template-areas: 
  "name"
  "email"
  "score"
  "button"
}
#name  {
  grid-area: name;
}
#email {
  grid-area: email;
  background-color: hotpink;
}
#score {
  grid-area: score;
}
button {
  grid-area: button;
}
