.formContainer {
  margin: 0 auto;
  max-width: 600px;
}
#signupForm {
  display: grid;
  row-gap: 15px;
  grid-template-areas: 
  "nameLabel name name"
  "emailLabel email email"
  "scoreLabel score score"
  ". startButton .";
}
input {
  
}
#name  {
  grid-area: name;
}
.nameLabel {
  grid-area: nameLabel
}
#email {
  grid-area: email;
}
.emailLabel {
  grid-area: emailLabel
}
#score {
  grid-area: score;
}
.scoreLabel {
  grid-area: scoreLabel
}
button {
  grid-area: startButton;
}
