.game-complete-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 200px;
}

.game-complete-left,
.game-complete-right {
  width: 50%;
  padding: 20px;
}

.game-complete-left {
  border-right: 1px solid #ccc;
  /* Optional: Adds a divider between sections */
}

.game-complete-right {
  padding-left: 20px;
}

.scoreTable {
  width: 100%;
  /* Ensure the leaderboard table takes up the full width of its section */
  border-collapse: collapse;
}

.scoreTableHeader {
  background-color: #f1f1f1;
}

.userLine {
  text-align: center;
}

.userName,
.userEmail,
.userScore {
  padding: 10px;
  border: 1px solid #ddd;
}


/* Styling for the start screen */
.start-game {
  font-size: 6rem;
  /* Large text size */
  color: #1a9d49;
  /* Green color */
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease;
  /* Smooth transition for scaling effect */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  /* Smaller clickable surface */
  height: 400px;
  /* Smaller clickable surface */
  border: 3px solid transparent;
  /* Add transparent border for positioning */
  margin: 0 auto;
  /* Center the clickable area */
}

.start-game:hover {
  animation: breathe 1.5s infinite;
  /* Breathing effect */
}

@keyframes breathe {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
    /* Slightly enlarge in the middle of the breathing effect */
  }

  100% {
    transform: scale(1);
  }
}

.start-game:active {
  transform: scale(0.95);
  /* Slight shrink when clicked */
}

.start-game-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* Full screen height */
  width: 100vw;
  /* Full screen width */
}